html, body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	text-align: center;
	color: black;
}


nav {
	

	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15vh;

	box-sizing: border-box;
	background: transparent;
	max-width: 50vw;
	z-index: 1;
}

main {
	height: 100%;
}


a {
	color: black;
	text-decoration: none;
	transition: 0.3s;
	align-self: center;
}

a:hover, #hamburger:hover{
	transition: 0.3s;
	color: pink;
}

#indexhamburger {
	display: none;
	font-size: 1.5em;
	color: black;
	border: none;
	background: transparent;
	outline: none;
}

a:hover, #indexhamburger:hover{
	transition: 0.3s;
	color: pink;
}

#blackbackground {
	background-color:black;
	overflow: hidden;
}



.nav_title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	text-align: left;
}

.nav_title h2 {
	font-size: 1.07em;
	font-weight: 300;
	letter-spacing: 0.67em;
	margin-bottom: 0.3em;
}

.nav_title h3 {
	font-size: 0.6em;
	font-weight: 600;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#footer_content {
		position: relative;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2vh;
	
		box-sizing: border-box;
		background: transparent;
		max-width: 50vw;
		z-index: 1;
}

.directory {
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 150px;
	line-height: 1%;
	text-align: right;
	margin-bottom: -11px;
}

.social_icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-content: flex-end;
}


.nav_title > a > h1 {
	margin-bottom: 0;
	font-size: 1.5em;
	font-weight: 600;
}

.nav_title {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 30%
}

.nav_projects {
	position: relative;
	display: inline-block;
	transition: 0.3s;
}


.nav_icon {
	padding-left: 1.7em;
}

#hamburger {
	display: none;
	font-size: 1.5em;
	color: black;
	border: none;
	background: transparent;
	outline: none;
}

/* home */

.background_video {
    padding-top: 15px;
	max-width: 50vw;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

#video_reel_phone {
	display: block;
	width: 100%;
	border-radius: 10px;
	}

#video_reel {
	max-width: 100%;
	border-radius: 20px;
}

#desktop_bg_video {
	display: none;
}


.video_overlay {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1;
	position: absolute;
	left: auto;
}

.overlay_button {
	font-family: 'Montserrat';
	font-size: 1em;
	font-weight: 600;
	color: #434141;
	background-color: #ffffff;
	width: 17em;
	border-radius: 10px;
	transition: 0.3s;
	padding: 1.4em;
	margin: 2em;
	border-width: 0px;
	border-style: solid;
	outline: none;
}



.overlay_button:hover {
	color: #000000;
	cursor: pointer;
	background-color:#ffffffcc;
}

/* about */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about img {
	max-width: 25vw;
	flex-grow: 0;
	padding: 1em 0 2em;
}

.description {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	padding-top: 5vh;
	width: 40vw;
}

.introduction {
	width: 25vw;
	display: inline-block
}

.experience {
	display: none;
	text-align: left;
	margin-top: 10vh;
	margin-bottom: 20vh;
	border-bottom: solid 1px black;
	flex-shrink: 0;
}

/* projects */

.project_grid {
	flex-flow: column;

	padding-top: 2vh;
	width:50vw;
	margin-left: auto;
	margin-right: auto;
}

.project_grid iframe {
	width: 50vw;
	display: block;
	flex-grow: 0;
	height: 50vh;
}

@media (min-width: 2700px){
	.project_grid iframe {
		height: 55vh;
	}
}


@media (max-width: 1375px) {
	.project_grid iframe {
		height: 35vh;
	}
	.introduction {
		width: 35vw;
	}
}
@media (max-width: 1024px) {
	
	#navbar_content {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		background-color: rgb(255, 255, 255);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		width: 90vw;
	}

	.social_icons {
		justify-content: center;
	}

	#indexhamburger {
		display: flex;
		flex-direction: row-reverse;
		margin-left: auto;
		margin-bottom: auto;
		margin-top: auto;
	}

	#hamburger {
		display: inline-block;
	}

	.whitetextdropdown {
		color: black;
	}

	.directory {
		display: none;
	}

	.video_overlay {
		flex-direction: column;
	}
	.overlay_button {
		display: none;
		font-size: 1.1em;
		padding: 1.2em;
	}
	
	.nav_reel {
		Display: inline-block;
	}

	.nav_title {
		width:90vw;
		margin-bottom: 0.5em;
		font-size: 1em;
	}

	.nav_title h1 {
		font-size: 1.5em;
	}

	.nav_title h2 {
		letter-spacing: 0.21em;
	}

	.nav_item, .social_icons {
		padding: 0.6em 0;
	}


	.experience {
		border-bottom: transparent;
	}
	
	.description {
		padding-top: 4em;
	}
}



@media (max-width: 800px) {
	.fancybox-slide--video .fancybox-content {
		height  : 50%;
	}
	.fancybox-slide--iframe .fancybox-content{
		height  : 50% !important;
	}

	.description {
		width: 55vw;
	}

	.introduction {
		width: 50vw;
	}
}


@media (min-width: 601px) {
	#desktop_bg_video {
		display: block;
		max-width: 100%;
	}
	#mobile_bg_video {
		display: none;
	}
}

@media (max-width: 600px) {

	nav {
		margin-top: 2vh;
		max-width: 70vw;
	}

	.nav_title {
		max-width: 70vw;
	}

	.nav_title > a > h1 {
		font-size: 1em;
	}
	.nav_title > a > h2 {
		font-size: 0.9em;
		letter-spacing: 0.4em;
		margin-bottom: 0.7em;	
	}

	.nav_icon {
		padding: 1em;
		font-size: 1.1em;
	}

	#indexhamburger {
		font-size: 1.8em;
		margin-bottom: 8px;
	}

	.background_video {
		max-width: 70vw;
		padding-top: 0;
	}

	.fancybox-slide--video .fancybox-content {
		height  : 30% !important;
	}

	.fancybox-slide--iframe .fancybox-content{
		height  : 30%;
	}	
	
	#mobile_bg_video {
		display: block;
	}

	.description {
		width: 100vw;
	}

	.introduction {
		width: 70vw;
	}
	
	.project_grid iframe {
		width: 100vw;
		max-height: 280px;
	}

	.project_grid {
		padding-top: 4em;
	}

}
	

